<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="JAM">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>JAM</title>

  <link rel="stylesheet" href="../static/style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap" rel="stylesheet">
  <script>
    function getJamming() {
      event.preventDefault();
      let name = document.getElementById("name").value
      let socket = new WebSocket("ws://" + location.host + "/wait-for-table?name=" + name);
      socket.onmessage = function (event) {
        let msg = JSON.parse(event.data)
        gameId = msg.gameId
        if (gameId) joinGame(gameId, "1")
      }
      document.getElementById("waiting").style.display = "block";
      document.getElementById("jamming").disabled = true;
    }

    function joinGame(id, player) {
      event.preventDefault();
      document.cookie="gameId=" + id;
      document.cookie="player=" + player;
      window.location.href = "/play";
    }
  </script>
</head>

<body class="container">
    <h1>Jackfruit: the Game</h1>
    <div class="welcome_box">
        <div>
            <form onsubmit="getJamming()">
                <div class="table-name">
                    <label>Enter a table name:</label>
                    <input type="text" id="name" name="name">
                </div>
                <br>
                <input class="jamming" id="jamming" type="submit" value="Get jamming">
                <p id="waiting" class="waiting">Waiting for Opponent...<p>
            </form>
        </div>
        {{if .Games}}
        <h3>Tables to join:</h3>
        {{end}}
        <div class="game-list">
            {{range .Games}}
            {{if .Name}}
            <form onsubmit='joinGame({{.Id}}, "2")' method="GET">
                <p class="table-name">{{.Name}}</p>
                <input class="join-button" type="submit" value="Join Game">
            </form>
            {{end}}
            {{end}}
        </div>
    </div>
</body>
</html>
