html {
    font-family: "IM Fell French Canon SC";
    background-color: #f6f3fb;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a683dd' fill-opacity='0.23' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")
}

button {
    font-family: "IM Fell French Canon SC";
}

input {
    font-family: "IM Fell French Canon SC";
}

.table-name {
    font-size: 24px;
}

.table-name > input {
    font-size: 20px;
}

.game-list {
    border-radius: 20px;
    display: grid;
    background-color: #fffdd0;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.join-button {
    margin-left: 10px;
    padding: 10px;
}

.jamming {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 6px;
}

.welcome {
    display: flex;
    justify-content: center;
}

.waiting {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.welcome_box {
    border-radius: 20px;
    max-width: 500px;
    padding: 20px;
    background-color: #aef359;
    border-radius: 6px;
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.info {
    padding: 10px;
    font-size: 20px;
}

.number {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.blue {
    background-color: aqua;
    color: blue;
}

.player {
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 50%;
}

.opponent {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.opponent > div {
    margin: 6px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cards > div {
    margin: 6px;
}

.blue_image {
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.card_select:hover {
    cursor: pointer;
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.hidden {
    visibility: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    min-width: 148px;
    width: 148px;
    height: 250px;
    border: 10px #333 solid;
    border-radius: 10px;
    box-shadow: 3px 3px 6px;
    background-color: #eee;
}

.card_back {
    display: flex;
    flex-direction: column;
    background-color: #4d354d;
    position: relative;
    text-align: center;
    min-width: 80px;
    width: 80px;
    height: 120px;
    border: 10px #333 solid;
    border-radius: 10px;
    box-shadow: 3px 3px 6px ;
}

.card_back > h3 {
    color: white;
}

.card_back_image {
    margin-top: 10%;
}

.card_empty {
    background-color: #999;
    box-shadow: none;
}

.card_empty_cross {
    margin-top: 50%;
}

.card_amount {
    width: 20px;
    height: 20px;
    padding: 5px;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: red;
    position: absolute;
    top: -15px;
    right: -15px;
}

.card_title {
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: wheat;
}

.card_image {
    padding-top: 5px;
    width: 93.5%;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
    object-fit: contain;
    background-color: white;
}

.fancy-border {
    border-image-slice:84 136 77 135;
    border-image-width:20px 0 20px 0;
    border-image-outset:0 0px 4px 0px;
    border-image-repeat:stretch stretch;
    border-image-source:url("https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Decorative-Elements-PNG/Wooden_Frame_Border_PNG_Clipart.png?m=1559095285");
    
    /* Without this the border will not show */
    border-style: solid;
    border-width: 5px;
}

.card_text {
    display: flex;
    max-height: 62px;
    justify-content: center;
    flex-grow: 1;
    padding: 5px;
    font-size: 12px;
}

.card_effects {
    color: #555;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: wheat;
    margin: 0;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
}

.end-actions {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: orange;
    color: black;
    border: 1px solid orangered;
}

.end-actions:hover {
    cursor: pointer;
    background-color: #fed8b1;
    border: 1px solid orange;
    box-shadow: 5px, 5px, 5px;
}

.end-actions-disabled {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffa50073; 
    color: #00000099;
    border: 1px solid gray;
}

.game-info {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    color: #2c6aa0;
}
